<header>
  <div class="up_page">
    <a href="/home">
      <img class="logo" src="https://i.postimg.cc/JzVpc1S5/logo-header.png" alt="logo" width="80" />
    </a>
    <div class="cart_menu_container">
      <a href="/carts/{{cartId}}">
        <img class="cart_icon" src="https://i.postimg.cc/rF4ScZMk/icons8-cart-48.png" alt="" />
      </a>
      <div class="menu2">
        {{>menu2}}
      </div>
    </div>
  </div>
  {{>menu}}
  </header>

 <h2 class="cart_main">Cart</h2>
 <input type="text" value="{{cart._id}}" hidden id="cartId" />

<main class="main_cart">
{{#each cart.products}}
<div class="product_detail">
  <div class="cart">
    <img src="{{product.thumbnail}}" class="image_cart" alt="{{product.title}}" />
    <div class="cart-body">
      <h3 class="cart_title">{{product.title}}</h3>
      <p>Price: ${{product.price}}</p>
      <p>Quantity: {{quantity}}</p>
    </div>
    <button class="trash_item" onclick="removeFromCart('{{product._id}}')">
      <i class="fas fa-trash custom-icon"></i>
    </button>
  </div>
</div>
{{/each}}
</main>

<footer></footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/assets/js/logout.js"></script>
<script src="/assets/js/cart.js"></script>