<header></header>

<a href="/realtimeproducts">Update Products</a>
<h1 class="titulo"> Horisada´s Paintings </h1>
<hr />
<hr />

<h2 class="subtitulo"> Products Data </h2>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Code</th>
  </tr>
  {{#each products}}
    <tr>
      <td>{{title}}</td>
      <td>{{category}}</td>
      <td>{{price}}</td>
      <td>{{stock}}</td>
      <td>{{code}}</td>
    </tr>
  {{/each}}
</table>

<footer></footer>