<header>
  <div class="up_page">
     {{>header}}
      <div class="menu2">
        {{>menu2}}
      </div>
    </div>
  </div>
  {{>menu}}
</header>

   <div id="messageContainer"></div>

  <h1 class="titulo"> Horisada´s Paintings </h1>

  <div class="div_space"></div>

</header>

<main>

  <div class="pagination">
  <ul>
    <li><a href="/products?page=1" class="our_products">Our Products</a></li>
    {{#if hasPrevPage}}
      <li><a href="{{prevLink}}">Previous</a></li>
    {{/if}}
    {{#if hasNextPage}}
      &nbsp;
      {{currentPage}}
      /
      {{totalPages}}
      &nbsp;
    {{/if}}
    {{#if hasNextPage}}
      <li><a href="{{nextLink}}">Next</a></li>
    {{/if}}
    {{#if nextPage}}
      <li><a href="/products?page={{totalPages}}">View Last in Catalog</a></li>
    {{/if}}
  </ul>
</div>


    <input type="text" value="{{cart._id}}" hidden id="cartId" />


  <div class="table_container">
    {{#each products}}
      <div class="container_cards">
        <div class="card">
          <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}" />
          <div class="card-body">
            <p>{{title}}</p>
            <p> {{description}} </p>
            <p> Category: {{category}}</p>
            <p>Us${{price}}</p>
            <p> Stock: {{stock}}</p>
            <button class="btn_cart" onclick="buy('{{_id}}')">Add to Cart
            </button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</main>

<footer></footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/assets/js/products.js"></script>
<script src="/assets/js/logout.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const params = new URLSearchParams(window.location.search);
    const message = params.get('message');

    if (message) {
      const messageContainer = document.getElementById('messageContainer');
      const messageDiv = document.createElement('div');
      messageDiv.className = 'welcome_message';
      messageDiv.innerText = message;
      messageContainer.appendChild(messageDiv);
    }
  });
</script>