<header>
  <div class="up_page">
    <a href="/home">
      <img class="logo" src="https://i.postimg.cc/JzVpc1S5/logo-header.png" alt="logo" width="80" />
    </a>
    <div class="cart_menu_container">
      <a href="/carts/{{cartId}}">
        <img class="cart_icon" src="https://i.postimg.cc/rF4ScZMk/icons8-cart-48.png" alt="" />
      </a>
      <div class="menu2">
        {{>menu2}}
      </div>
    </div>
  </div>
  {{>menu}}
</header>


  <h1 class="titulo"> Horisada´s Paintings </h1>

  <div class="div_space"></div>

</header>

<main>

 

  <div class="pagination">
    <ul>
      <li><a href="/products?page=1" class="our_products">Our Products</a></li>
      {{#if hasPrevPage}}
        <li><a href="/products?page={{prevPage}}">Previous</a></li>
      {{/if}}
      {{#if hasNextPage}}
        &nbsp;
        {{currentpage}}
        /
        {{totalPages}}
        &nbsp;
      {{/if}}
      {{#if hasNextPage}}
        <li><a href="/products?page={{nextPage}}">Next</a></li>
      {{/if}}
      {{#if nextPage}}
        <li><a href="/products?page={{totalPages}}">View Last in Catalog</a></li>
      {{/if}}
    </ul>
  </div>

    <input type="text" value="{{cartId}}" hidden id="cartId" />

  <div class="table_container">
    {{#each products}}
      <div class="container_cards">
        <div class="card">
          <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}" />
          <div class="card-body">
            <p>{{title}}</p>
            <p> {{description}} </p>
            <p> Category: {{category}}</p>
            <p>Us${{price}}</p>
            <p> Stock: {{stock}}</p>
            <button class="btn_cart" onclick="buy('{{_id}}')">Add to Cart
            </button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</main>

<footer></footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/assets/js/products.js"></script>
<script src="/assets/js/logout.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const params = new URLSearchParams(window.location.search);
  const message = params.get('message');
  
  if (message) {
    Swal.fire({
        imageUrl: "https://i.postimg.cc/BnyqP2s9/icons8-geisha-64-1.png",
        background: "white",
        text: message,
        confirmButtonColor: "black",
        confirmButtonText: ":)",
        timer: 5000,
        toast:true,
    });
  }
});
</script>