<header>
  <div class="up_page">
     {{>header}}
      
      <div class="menu2">
        {{>menu2}}
      </div>
    </div>
  </div>
  {{>menu}}

  <h1 class="titulo"> Horisada´s Paintings </h1>
  <hr />
  <hr />
</header>

<main class="back_style_realtime">

  <h2 class="subtitulo"> Update Products </h2>

  <div class="pagination">
    <ul>
      <li><a href="/realtimeproducts?page=1">Catalog</a></li>
      {{#if hasPrevPage}}
         <li><a href="{{prevLink}}">Previous</a></li>
      {{/if}}
      {{#if hasNextPage}}
        &nbsp;
        {{currentPage}}
        /
        {{totalPages}}
        &nbsp;
      {{/if}}
      {{#if hasNextPage}}
       <li><a href="{{nextLink}}">Next</a></li>
      {{/if}}
      {{#if nextPage}}
        <li><a href="/realtimeproducts?page={{totalPages}}">View Last in Catalog</a></li>
      {{/if}}
    </ul>
  </div>

  <div class="table_container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Code</th>
          <th>Stock</th>
          <th>Status</th>
          <th>Category</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody id="products">
        {{#each products}}
          <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>${{price}}</td>
            <td>{{code}}</td>
            <td>{{stock}}</td>
            <td>{{status}}</td>
            <td>{{category}}</td>
            <td><img src="{{thumbnail}}" alt="{{title}}" width="100" /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</main>

<footer></footer>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/realtimeproducts.js"></script>
<script src="/assets/js/logout.js"></script>