<header>
  <div class="up_page">
    <a href="/home">
      <img class="logo" src="https://i.postimg.cc/JzVpc1S5/logo-header.png" alt="logo" width="80" />
    </a>
   
    <div class="cart_menu_container">
      <a href="/carts/{{cartId}}">
        <img class="cart_icon" src="https://i.postimg.cc/rF4ScZMk/icons8-cart-48.png" alt="" />
      </a>
      
      <div class="menu2">
        {{>menu2}}
      </div>
    </div>
  </div>
  {{>menu}}

  <h1 class="titulo"> Horisada´s Paintings </h1>
  <hr />
  <hr />
</header>

<main class="back_style_realtime">

  <h2 class="subtitulo"> Update Products </h2>

  <div class="pagination">
    <ul>
      <li><a href="/products?page=1">Catalog</a></li>
      {{#if hasPrevPage}}
        <li><a href="/products?page={{prevPage}}">Previous</a></li>
      {{/if}}
      {{#if hasNextPage}}
        &nbsp;
        {{currentpage}}
        /
        {{totalPages}}
        &nbsp;
      {{/if}}
      {{#if hasNextPage}}
        <li><a href="/products?page={{nextPage}}">Next</a></li>
      {{/if}}
      {{#if nextPage}}
        <li><a href="/products?page={{totalPages}}">View Last in Catalog</a></li>
      {{/if}}
    </ul>
  </div>

  <div class="table_container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Code</th>
          <th>Stock</th>
          <th>Status</th>
          <th>Category</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody id="products">
        {{#each products}}
          <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>${{price}}</td>
            <td>{{code}}</td>
            <td>{{stock}}</td>
            <td>{{status}}</td>
            <td>{{category}}</td>
            <td><img src="{{thumbnail}}" alt="{{title}}" width="100" /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</main>

<footer></footer>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/realtimeproducts.js"></script>
<script src="/assets/js/logout.js"></script>