<header>
  <div class="up_page">
    <a href="/home"><img
        class="logo"
        src="https://i.postimg.cc/JzVpc1S5/logo-header.png"
        alt="logo"
        width="80"
      /></a>
  </div>
  <nav class="navbar">
    <a href="/products">Products Data</a>
    <a href="/realtimeproducts">Update Products</a>
    <a href="/chat">Chat</a>
  </nav>
  <h1 class="titulo"> Horisada´s Paintings </h1>
  <hr />
  <hr />
</header>

<main class="back_style_realtime">

  <h2 class="subtitulo"> Update Products </h2>

  <div class="table_container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Code</th>
          <th>Stock</th>
          <th>Status</th>
          <th>Category</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody id="products">
        {{#each products}}
          <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>${{price}}</td>
            <td>{{code}}</td>
            <td>{{stock}}</td>
            <td>{{status}}</td>
            <td>{{category}}</td>
            <td><img src="{{thumbnail}}" alt="{{title}}" width="100" /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</main>

<footer></footer>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/script.js"></script>